*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Inria Sans', sans-serif;
    
   
}

body{
    margin: 0;
    background-color: #ebebeb;
}

nav ul{ 
    display: flex;
    gap:3rem;
    list-style: none;
    font-size: 2rem;
    flex-wrap: wrap;
}

nav ul a{
    text-decoration: none;
    color:white;

}

nav ul a:hover{
    opacity: 0.6;
    cursor: pointer;
}

nav{
    width:100%;
    background-color: #1E60B2;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    
    
    
}

.home{
    display: flex;
    align-items: center;
    flex:1;
    
    
}
.title{
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    color:white;
    padding-left: 10px;

}
.title:hover{
     
     opacity: 0.9;
    color:#FBAF00;
}
.logo{
    max-width: 100px;

}

@media only screen and (max-width: 700px) {
    .home {
      justify-content: center;
      
    }
    nav{
        padding: 5px;
        justify-content: center;
       
    }

    .main-page{
        flex-wrap: wrap;
    
        
    }

    
    
  }


  /*   Home page      */

.campus-image{
    max-width: 45%;
}

.main-page{
    background-color: white;
    width:80%;
    margin: auto;
    padding: 70px 1px;
    display: flex;
    justify-content: center;
    gap:90px;
    align-items: center;
    margin-top: 5vh;
    font-size: 1.6rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
}

.mascot-image{
    max-width:300px;
    padding-top: 30px;

}

.right-homepage{

    
    text-align: center;
   
  
}

